/* Стили для кастомных компонентов могут быть добавлены сюда */
.container {
    width: 100%;
    max-width: 600px;
}

/* Улучшение внешнего вида по сравнению с базовой стилизацией Tailwind */
header, footer {
    background-color: #2a4365; /* Синий цвет из палитры Tailwind */
}

/* Можете добавлять кастомные стили для улучшения вижуального впечатления */

/* Тематические стили для темной схемы */
body, .bg-gray-100 {
    background-color: #1A202C; /* Tailwind CSS класс для темно-синего цвета */
}

/* Стили для карточек преподавателей */
#tutors {
    color: #CBD5E0; /* Осветлённый текст для лучшего контраста на темной теме */
}

#tutors div {
    background-color: #2D3748; /* Фоновый цвет карточки */
}

/* Стили для кнопок */
button {
    transition: background-color 0.3s ease;
}

/* Стили для модального окна */
#bookingModal {
    transition: all 0.3s ease;
}

#bookingModal.show {
    display: flex;
}

/* Дополнительная кастомизация компонентов */
input, button, .rounded {
    border: none;
    outline: none; /* Удалим рамку при фокусировке */
}

input[type="text"] {
    color: #E2E8F0; /* Цвет текста */
}
